[submodule "BatteryLevel"]
	path = BatteryLevel
	url = https://github.com/rrelmy/BatteryLevel
[submodule "rorist/Cowsay-android"]
	path = rorist/Cowsay-android
	url = https://github.com/rorist/Cowsay-android
[submodule "rorist/android-alarm-button"]
	path = rorist/android-alarm-button
	url = https://github.com/rorist/android-alarm-button
[submodule "rorist/android-reverse"]
	path = rorist/android-reverse
	url = https://github.com/rorist/android-reverse
[submodule "speech_trainer"]
	path = speech_trainer
	url = https://github.com/wrr/speech_trainer
