[submodule "BatteryLevel"]
	path = BatteryLevel
	url = https://github.com/rrelmy/BatteryLevel
[submodule "rorist/Cowsay-android"]
	path = rorist/Cowsay-android
	url = https://github.com/rorist/Cowsay-android
[submodule "rorist/android-alarm-button"]
	path = rorist/android-alarm-button
	url = https://github.com/rorist/android-alarm-button
[submodule "rorist/android-reverse"]
	path = rorist/android-reverse
	url = https://github.com/rorist/android-reverse
[submodule "speech_trainer"]
	path = speech_trainer
	url = https://github.com/wrr/speech_trainer
[submodule "com.mobilepearls.appsharer"]
	path = com.mobilepearls.appsharer
	url = https://github.com/mobilepearls/com.mobilepearls.appsharer
[submodule "SmsBomber"]
	path = SmsBomber
	url = https://github.com/vxhex/SmsBomber
[submodule "moon"]
	path = moon
	url = https://github.com/andviane/moon
[submodule "prism"]
	path = prism
	url = https://github.com/andviane/prism
[submodule "CoolReader"]
	path = CoolReader
	url = https://github.com/SilangQuan/CoolReader
[submodule "precise-pitch"]
	path = precise-pitch
	url = https://github.com/hzeller/precise-pitch
