<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sikni8.bloodtype"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="27" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/MyTheme" >
        <activity
            android:name="com.sikni8.bloodtype.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sikni8.bloodtype.BloodType"
            android:label="@string/app_name"
            android:parentActivityName="com.sikni8.bloodtype.MainActivity" android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sikni8.bloodtype.MainActivity" />
        </activity>
        <activity
            android:name="com.sikni8.bloodtype.AboutApp"
            android:label="@string/app_name"
            android:parentActivityName="com.sikni8.bloodtype.MainActivity" android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sikni8.bloodtype.MainActivity" />
        </activity>
        <activity
            android:name="com.sikni8.bloodtype.ShowHelp"
            android:label="@string/app_name"
            android:parentActivityName="com.sikni8.bloodtype.MainActivity" android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sikni8.bloodtype.MainActivity" />
        </activity>
        <activity
            android:name="com.sikni8.bloodtype.BloodTable"
            android:label="@string/app_name"
            android:parentActivityName="com.sikni8.bloodtype.MainActivity" android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sikni8.bloodtype.MainActivity" />
        </activity>
    </application>
</manifest>